<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">EUM</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap">

    <!--css 공통 START-->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/lib/bootstrap5/css/bootstrap.min.css}">
    <!--css 공통 END-->
    <th:block layout:fragment="style"></th:block>

</head>
<body class="d-flex flex-column min-vh-100">

    <!--layoutHeader START-->
    <th:block th:replace="admin/layout/adminLayoutHeader :: headerFragment"></th:block>
    <!--layoutHeader END-->

    <div class="content-wrapper">
        <!--Main Content START-->
        <th:block layout:fragment="content"></th:block>
        <!--Main Content END-->
    </div>

    <!--layoutFooter START-->
    <th:block th:replace="admin/layout/adminLayoutFooter :: footerFragment"></th:block>
    <!--layoutFooter END-->

    <javascript>
        <!--자바스크립트 공통 START-->
        <script th:href="@{/resources/lib/bootstrap5/js/bootstrap.bundle.min.js}"></script>
        <script th:href="@{/resources/lib/bootstrap5/js/bootstrap.min.js}"></script>
        <!--자바스크립트 공통 END-->
        <th:block layout:fragment="script"></th:block>
    </javascript>

</body>
</html>