<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:fragment="layout(title, main, links, scripts)">
<head>
    <meta charset="utf-8">
    <title th:replace="${title}">레이아웃 타이틀</title>

    <!--css 공통 START-->
    <link rel="stylesheet" type="text/css" th:href="@{/front/cmm/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap5/css/bootstrap.min.css}">
    <!--css 공통 END-->
    <th:block th:replace="${links}"/>

</head>
<body class="d-flex flex-column min-vh-100">


    <!--layoutHeader START-->
    <th:block th:replace="front/layout/layoutHeader :: headerFragment"></th:block>
    <!--layoutHeader END-->


    <div class="content-wrapper">
        <!--Main Content START-->
        <div th:replace="${main}">
            <p>레이아웃 콘텐츠</p>
        </div>
        <!--Main Content END-->
    </div>


    <!--layoutFooter START-->
    <th:block th:replace="front/layout/layoutFooter :: footerFragment"></th:block>
    <!--layoutFooter END-->


    <javascript>
        <!--자바스크립트 공통 START-->
        <script th:href="@{/lib/bootstrap5/js/bootstrap.bundle.min.js}"></script>
        <script th:href="@{/lib/bootstrap5/js/bootstrap.min.js}"></script>
        <script th:href="@{/front/cmm/js/common.js}"></script>
        <!--자바스크립트 공통 END-->
        <th:block th:replace="${scripts}"/>
    </javascript>

</body>
</html>